<div class="container">
    {% include "header.html" %}

    <main id="main">
        <form id="room-form" action="/join" method="post">
            <div id="options">
                <h2>New room or join</h2>
                <button type="button" onclick="chooseAction('join')">Join</button>
                <button type="button" onclick="chooseAction('create')">New room</button>
            </div>

            <div id="join-room" style="display: none;">
                <label for="room-id">room-id：</label>
                <input type="text" name="room-id" id="room-id" placeholder="room id" required>
                <button type="submit">Join</button>
            </div>

            <input type="hidden" name="action" id="action">
        </form>
    </main>
</div>

<script>
    function chooseAction(action) {
        // 设置隐藏字段的值为用户选择的操作
        document.getElementById("action").value = action;

        if (action === "join") {
            document.getElementById("join-room").style.display = "block";
            document.getElementById("options").style.display = "none";
        } else if (action === "create") {
            document.getElementById("room-form").submit();
        }
    }
</script>