<div class="container">
    {% include "header.html" %}

    <main id="main">
        <form action="/login" method="post">
            <div id="login-bar">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="email" placeholder="Your name">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Your password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg login-link" type="submit">Go!</button>
                </div>
            </div>
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </main>
</div>
