<div class="container">
    {% include "header.html" %}

    <main id="main">
        <form action="/login" method="post">
            <div id="login-bar">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="username" placeholder="用户名">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="登录密码">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg login-link" type="submit">Go!</button>
                </div>
            </div>
        </form>
        <p><a href="/register">新玩家注册</a></p>
    </main>
</div>
